.global-section{
    display: flex;
    width: calc(100% - 20px);
    height: calc(100vh - 20px);
    padding: 10px;
}

main{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.calendar{
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
}

.period{
    display: flex;
    flex-wrap: wrap;
}

.period p{
    width: 50%;
    text-align: center;
    font-weight: 400;
}

.heading{
    width: 100%!important;
    font-weight: 600!important;
}

.navigation-buttons{
    display: flex;
    justify-content: space-evenly;
}